@import "compass/layout";
@include sticky-footer(100px);

.page-heading {
  margin-top: -30px;
}

#main {
  margin-bottom: 40px;
}

#footer {
  padding: 40px 0;
  color: $gray-light;
}
#sidebar {
  @include opacity(0.5);
  @include transition(opacity 200ms ease-out);
  &:hover {
    @include opacity(1);
  }
  h4 {
    font-size: 22px;
    color: #aaa;
  }
}

.guide-section {
  margin-bottom: 60px;
  h3 {
    margin-top: 20px;
    margin-bottom: 6px;
  }
}
