@import "compass/layout";
@include sticky-footer(100px);

.page-heading {
  margin-top: -30px;
}

#main {
  margin-bottom: 40px;
}

#footer {
  padding: 40px 0;
  color: $gray-light;
}

.guide-section {
  margin-bottom: 60px;
  h3 {
    margin-top: 20px;
    margin-bottom: 6px;
  }
}
