<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/stylesheets/application.css">

</head>
<body>

  <div id="root">
    <div id="header">
      <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Boiler</a>
        </div>

         <div class="collapse navbar-collapse pull-right" id="primary-menu">
            <ul class="nav navbar-nav">
              <li>
                <a href="/about">About</a>
              </li>
              <li>
                <a href="/guides">Guides</a>
              </li>
              <li>
                <a href="https://github.com/nicinabox/boiler">
                  View on Github&nbsp;&rarr;
                </a>
              </li>
            </ul>
          </div>
      </nav>


    </div>
    <div id="main">
      <div class="jumbotron page-heading">
        <div class="container">
          {{page.title}}
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-8">
            {{content}}
          </div>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  </div>

  {% include analytics.html %}
</body>
</html>
